PASSWORD=change-me
PORT=3000
CHROMIUM_PATH=/usr/bin/chromium-browser
START_URL=https://duckduckgo.com
IDLE_TIMEOUT=300
UPLOAD_LIMIT=524288000
AUDIO=true
PULSE_SERVER=unix:/var/run/pulse/native
AUDIO_BITRATE=128k
AUDIO_SAMPLE_RATE=44100
